* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
  overflow: hidden;
}

body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #cdcdcd;
  text-align: center;
  top: 0px !important;
  position: static !important;
}
@media (min-width: 40em) {
  body {
    font-size: 1.5rem;
  }
}
body > .skiptranslate {
  display: none !important;
}

#goog-gt-tt, .goog-te-balloon-frame {
  display: none !important;
}

.goog-text-highlight {
  background: none !important;
  box-shadow: none !important;
}

@media (min-width: 64em) {
  ::-webkit-scrollbar {
    background-color: #333;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #666;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

p {
  margin-bottom: 2rem;
}

a, a:visited, a:active, a:hover {
  color: yellow;
}

strong {
  font-weight: bold;
}

.content__header {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #E6AF2E;
}
.content__header .symbols {
  color: #0081A7;
}
.content__img {
  display: grid;
  place-items: center;
  padding: 0.3125rem;
  margin-bottom: 1.5rem;
}
.content__img .img-container {
  position: relative;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.content__img.shadow .img-container::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 20px 20px #222222;
}
.content__img h4, .content__img figcaption {
  font-size: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media (min-width: 64em) {
  .content__img h4, .content__img figcaption {
    font-size: 1rem;
  }
}
.content__img h4 a, .content__img figcaption a {
  color: yellow;
  text-decoration: underline;
}
.content__footer {
  font-size: 2rem;
  margin-bottom: 3.5rem;
  margin-top: 3rem;
  color: #E6AF2E;
}
.content__footer .symbols {
  color: #0081A7;
}

.bg-light {
  background-color: #ffffff !important;
}

.rounded-3 {
  border-radius: 1rem;
}

.p-1 {
  padding: 0.5rem;
}

#main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 500vw;
  height: 300vh;
  transition: top 1s ease-in-out, left 1s ease-in-out;
  background-color: #222222;
}

#main-container.dev {
  left: -200vw;
  top: -100vh;
  transform: scale(0.15);
}

.row {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}
.row .bg-guide {
  width: 300vw;
  height: 100vh;
  left: calc(var(--pos) * 200vw);
}
.row .bg-guide svg {
  width: 100%;
}

.top-row {
  top: 0;
}

.bottom-row {
  bottom: 0;
}

.column {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100vw;
  pointer-events: none;
}
.column .bg-guide {
  flex-direction: column;
  height: 300vh;
  width: 100vw;
  top: calc(var(--pos) * 200vh);
}
.column .bg-guide svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 105%;
}
@media (min-width: 40em) {
  .column .bg-guide svg {
    height: 100%;
  }
}

.left-column {
  left: 0;
}

.right-column {
  right: 0;
}

.bg-guide {
  position: absolute;
  display: flex;
  align-items: center;
  visibility: hidden;
}
.bg-guide svg {
  visibility: visible;
}
.bg-guide svg circle {
  pointer-events: all;
  cursor: pointer;
}

.page {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
  pointer-events: all;
}
.page .content {
  height: 85%;
  width: 79%;
  overflow: auto;
}

.icon-translate {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  z-index: 30;
  background-color: #ffffff;
  display: grid;
  place-items: center;
  border-radius: 0.25rem;
}
.icon-translate svg {
  color: #222222;
}
.icon-translate__popup {
  display: none;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.icon-translate:focus-within .icon-translate__popup {
  display: block;
  position: absolute;
  right: 2rem;
  top: 0;
}
.icon-translate #google_translate_element select {
  border: none;
  border-radius: 0.25rem;
  padding: 0.2rem;
}

.page-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-home .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-home header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-home__title {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
}
@media (min-width: 64em) {
  .page-home__title {
    margin-bottom: 2rem;
  }
}
.page-home__subtitle {
  font-size: 1rem;
}
@media (min-width: 64em) {
  .page-home__subtitle {
    font-size: 1.5rem;
  }
}
.page-home__cv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.page-home__cv h2 {
  margin-bottom: 0.5rem;
}
.page-home__cv .cv {
  margin-bottom: 0.5rem;
  width: 100%;
}
@media (min-width: 40em) {
  .page-home__cv .cv {
    height: 400px;
    width: unset;
  }
}
.page-home__cv a.download {
  border: 1px solid #cdcdcd;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: inherit;
}
.page-home__cv a.download:hover, .page-home__cv a.download:active {
  background-color: #cdcdcd;
  color: #222222;
}
.page-home__hint {
  margin-bottom: 0.5rem;
  line-height: 1.25;
}
.page-home__hint .guide-icon {
  display: inline-block;
  background-image: url("../assets/icons/guide.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 1rem;
  height: 1rem;
}

.page-about {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}
.page-about__greetings {
  font-size: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 64em) {
  .page-about .content > p {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
  .page-about .content > p:nth-of-type(1) {
    margin-bottom: 5rem;
    margin-top: 2rem;
  }
}
@media (min-width: 64em) {
  .page-about .content .content-row {
    width: 100%;
  }
}
@media (min-width: 64em) {
  .page-about .content .content-row p {
    max-width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 64em) {
  .page-about .content .content-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .page-about .content .content-row:nth-of-type(even) {
    flex-direction: row-reverse;
  }
}
@media (min-width: 40em) {
  .page-about .content {
    font-size: 1.5rem;
  }
}
@media (min-width: 40em) {
  .page-about .content__header {
    font-size: 2.5rem;
  }
}
.page-about .content__img {
  width: 100%;
}
@media (min-width: 64em) {
  .page-about .content__img {
    width: unset;
    margin-bottom: 0;
  }
}
.page-about .content__img .img-container {
  width: 100%;
}
.page-about .content__img img, .page-about .content__img video {
  max-width: 100%;
  max-height: 15rem;
}
@media (min-width: 64em) {
  .page-about .content__img img, .page-about .content__img video {
    min-width: unset;
    max-width: 25rem;
    max-height: 20rem;
  }
}
@media (min-width: 40em) {
  .page-about .content__footer {
    font-size: 2.5rem;
  }
}

.page-knowledge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-knowledge__greetings {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.page-knowledge .content {
  height: 100%;
  padding-top: 2rem;
}
@media (min-width: 40em) {
  .page-knowledge .content {
    font-size: 1.5rem;
  }
}
@media (min-width: 40em) {
  .page-knowledge .content .mb {
    margin-bottom: 3rem !important;
  }
}
@media (min-width: 64em) {
  .page-knowledge .content .content-row p {
    max-width: 50%;
    margin-bottom: 0;
  }
}
@media (min-width: 64em) {
  .page-knowledge .content .content-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 64em) {
  .page-knowledge .content .content-row.reverse {
    flex-direction: row-reverse !important;
  }
}
@media (min-width: 40em) {
  .page-knowledge .content__header {
    font-size: 2.5rem;
  }
}
.page-knowledge .content__img {
  width: 100%;
}
@media (min-width: 64em) {
  .page-knowledge .content__img {
    width: unset;
    margin-bottom: 0;
  }
}
.page-knowledge .content__img .img-container {
  width: 100%;
}
.page-knowledge .content__img img {
  width: 100%;
  height: 10rem;
}
@media (min-width: 64em) {
  .page-knowledge .content__img img {
    width: 25rem;
    height: 15rem;
  }
}
@media (min-width: 40em) {
  .page-knowledge .content__footer {
    font-size: 2.5rem;
  }
}

.page-projects {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.page-projects .content {
  position: relative;
  width: 89%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: visible;
}
.page-projects .content__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 86%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.page-projects .content__overlay #btn-see-projects {
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #222222;
  border: none;
}
.page-projects .content__overlay .ex-prev-arrow {
  background-image: url("../assets/icons/nav-arrow.svg");
  background-size: auto 100%;
  background-repeat: no-repeat;
  width: 3ch;
  height: 3ch;
  display: inline-block;
  position: relative;
  transform: translateY(35%) rotate(180deg);
}
.page-projects .content__overlay .ex-next-arrow {
  background-image: url("../assets/icons/nav-arrow.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  width: 3ch;
  height: 3ch;
  display: inline-block;
  position: relative;
  transform: translateY(35%);
}
.page-projects .content .projects-container {
  display: flex;
  height: 86%;
  width: 100%;
  position: relative;
  left: 0;
  transition: left 300ms ease-in-out;
}
.page-projects .content .navigation-container {
  height: 14%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem;
}
.page-projects .content .navigation-container .disabled {
  opacity: 0.5;
  pointer-events: none;
}
.page-projects .content .navigation-container .nav-arrow {
  background-image: url("../assets/icons/nav-arrow.svg");
  height: 50px;
  width: 50px;
  transition: opacity 300ms ease-in-out;
}
.page-projects .content .navigation-container .arrow-prev {
  transform: rotate(180deg);
}
.page-projects .content iframe {
  min-height: 100%;
  min-width: 100%;
}

.page-contact .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.page-contact .content .contact-field {
  width: 100%;
  margin-bottom: 0;
  margin-bottom: 1.5rem;
}
.page-contact .content .contact-field .email-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-contact .content .contact-field .email-feedback {
  display: none;
  background-color: #51cf81;
  color: #222222;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem 0.5rem;
}
.page-contact .content .copy-icon {
  height: 1.5625rem;
  width: 1.5625rem;
  background-image: url("../assets/icons/copy.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  display: inline-block;
  cursor: pointer;
}
.page-contact .content #email-field {
  max-width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 1rem;
  margin-left: 1rem;
}
.page-contact .content .email-icon {
  height: 1.5625rem;
  width: 1.5625rem;
  background-image: url("../assets/icons/email.svg");
  background-size: 100%;
  display: inline-block;
}
.page-contact .content .linkedin-link {
  color: white;
  background-color: #0072b1;
  padding: 0.5rem 1rem;
  display: inline-block;
}
.page-contact .content .email-link {
  display: grid;
  place-items: center;
}/*# sourceMappingURL=style.css.map */