* 
	padding: 0
	margin: 0
	box-sizing: border-box


html 
	font-size: 100%
	overflow: hidden

body
	height: 100%
	width: 100%
	overflow: hidden
	font-family: 'Roboto', sans-serif
	font-size: 1rem
	color: $text-white
	text-align: center

//dark theme scrollbar for webkit browsers (e.g., Chrome, Edge, Opera, Safari, all browsers on iOS, and others)
//firefox already does that by default
@include breakpoint-up(large)
	::-webkit-scrollbar
		background-color: #333

	::-webkit-scrollbar-thumb
		background-color: #666

h1, h2, h3, h4, h5, h6
	font-weight: 400

p
	margin-bottom: 2rem

a, a:visited, a:active, a:hover
	text-decoration: none


strong
	font-weight: bold

.content
	
	&__header
		font-size: $font-lg
		margin-bottom: 3rem
		color: $goldenRod
		.symbols
			color: $celadonBlue
	
	&__img
		display: grid
		place-items: center
		padding: 0.3125rem
		margin-bottom: 1.5rem

		.img-container 
			position: relative
			width: min-content
		
		.img-container::after 
			pointer-events: none
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			box-shadow: inset 0px 0px 20px 20px $eerieBlack
		

		h4, h5
			font-size: $font-xs

			a
				color: yellow
				text-decoration: underline
		
	&__footer
		font-size: $font-lg
		margin-bottom: 3rem
		margin-top: 3rem
		color: $goldenRod
		.symbols
			color: $celadonBlue

// icons https://github.com/devicons/devicon/tree/master/icons